# =========================================
# NORTHWIND DB
# =========================================
NORTHWIND_DB_USER=admin
NORTHWIND_DB_PASSWORD=admin
NORTHWIND_DB_NAME=northwind
NORTHWIND_DB_PORT=5432

# =========================================
# HIVE METASTORE DB
# =========================================
METASTORE_DB_NAME=metastore
METASTORE_DB_USER=hive
METASTORE_DB_PASSWORD=hive
METASTORE_DB_PORT=5433

# =========================================
# MINIO
# =========================================
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123

# =========================================
# HIVE METASTORE
# =========================================
HIVE_METASTORE_PORT=9083
HIVE_WAREHOUSE_DIR=s3a://warehouse/

# =========================================
# SPARK
# =========================================
SPARK_UI_PORT=4040
SPARK_MASTER_PORT=8080